.git
.github
.idea
.vscode
node_modules
vendor
tests
storage/*.key
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
public/hot
.env
.env.*
!.env.example
*.md
.playwright-mcp
docker-compose.yml
compose.yaml
.phpunit.result.cache
.phpunit.cache
